@using Microsoft.AspNetCore.Mvc.Rendering
@model ClassLibrary1.URL_Shortener.UrlShortener

@{
    ViewData["Title"] = "UrlOriginal";
}

<h2>Add URL</h2>

<form asp-action="UrlOriginal">
    <div class="form-horizontal">
        <h4>URL</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="OriginalUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OriginalUrl" class="form-control"/>
                <span asp-validation-for="OriginalUrl" class="text-danger"></span>
            </div>
        </div>

        @Html.HiddenFor(editing => editing.Hash)
        @*<div class="form-group">
            <label asp-for="Hash" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hash" class="form-control" />
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
        </div>*@

        @Html.HiddenFor(editing => editing.Expiry)
        @*<div class="form-group">
            <label asp-for="Expiry" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Expiry" class="form-control" />
                <span asp-validation-for="Expiry" class="text-danger"></span>
            </div>
        </div>*@

        @Html.HiddenFor(editing => editing.ID)
        @*<div class="form-group">
            <label asp-for="ID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Home</a>
</div>